@charset "utf-8"
@import "../node_modules/bulma/sass/utilities/initial-variables"

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')

$family-primary: 'Source Sans Pro', sans-serif

$logo-blue: #85A8D4
$title-green: #2E707E
$box-blue: #FAFAFA
$header-pink: #F4D6DE
$header-green: #9FD9B4
$header-mauve: #A6A6BB

$axa-blue: #00008f
$axa-red: #ff1721
$primary: rgba(46,112,126,0.3)
$primary-invert: #2E707E
$cotton: #fad6de
$cotton-invert: #000
$igloo: #b5d0ee
$igloo-invert: #000
$info: $igloo
$info-invert: $igloo-invert
$danger: $cotton
$danger-invert: $cotton-invert

$dark: $header-mauve
$success: $title-green
$warning: $header-pink
$message-background-color: #FFFFFF

.navbar
  background: $cotton

.navbar-brand
  margin: 1rem
  margin-left: 10rem

.navbar-end > .navbar-item > .subtitle
  margin-right: 10rem

html
  height: 100%
  margin: 0
  background: linear-gradient(225.3deg, #DFEAF7 0%, #83A6D3 100%) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

body
  height: 100%

.is-standalone
  border-radius: 4px !important

.box-title
  font-size: 20px
  font-weight: bold
  color: $title-green
  line-height: 24px
  letter-spacing: -0.18px
  margin-bottom: 10px

//form > input > .input
  height: 45px
  border-radius: 10px

.pale-rect
  border-radius: 10px
  background-color: $box-blue
  padding: 2em

.dark-rect
  border-radius: 10px
  margin: 10px
  background-color: rgba(46,112,126,0.3)

.slim-rect
  height: 45px
  margin: 10px
  padding: 10px

.message-title
  color: #000000
  font-size: 18px
  font-weight: bold
  letter-spacing: -0.16px
  line-height: 16px
  width: 100%
  text-align: center
  vertical-align: middle

.message-header
  text-align: center
  vertical-align: middle

input
  border-top: transparent !important
  border-left: transparent !important
  border-right: transparent !important
  border-bottom: 2px solid $igloo !important
  box-shadow: none !important
  border-radius: 0px !important
  background: transparent
  margin-top: -5px !important
  margin-left: 5px !important
  margin-right: 5px !important


.is-inline-number
  display: inline-block !important
  width: 3rem !important
  text-align: center

.is-drug-info
  height: 30em
  overflow-y: scroll

@import "../node_modules/bulma/bulma"
