@charset "utf-8"
@import "../node_modules/bulma/sass/utilities/initial-variables"

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')

$family-primary: 'Source Sans Pro', sans-serif

$axa-blue: #00008f
$axa-red: #ff1721
$primary: $axa-blue
$cotton: #fad6de
$cotton-invert: $axa-blue
$igloo: #b5d0ee
$igloo-invert: $axa-blue
$info: $igloo
$info-invert: $igloo-invert
$danger: $cotton
$danger-invert: $cotton-invert

@import "../node_modules/bulma/bulma"

.navbar
  background: $cotton

.navbar-brand
  margin: 1rem
  margin-left: 10rem

.navbar-end > .navbar-item > .subtitle
  margin-right: 10rem
